*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

body,html{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
}

#top-bar{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
}

.center-btn{
    display: flex;
    padding-left: 15px;
    align-items: center;
}


.bold{
    font-weight: bolder;
}

.sizeL{
    font-size: 17px;
}

.center-text1{
    padding-left: 10px;
}

.cursor{
    cursor: pointer;
}

.right-menu{
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.back-color-gray{
    background-color: #E4E6EB;
}

.language-btn{
    border: none;
    width: 75px;
    height: 40px;
    border-radius: 5px;
    margin-left: 15px;
}

.icon{
    font-size: 20px;
}

.icon-circle{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box{
    width: 300px;
    height: 52px;
    padding: 8px;
    margin-right: 8px;
}

.search{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: #F0F2F5;
}

.search-area{
    padding-left: 5px;
    border: none;
    background-color: #F0F2F5; 
}

.sizeM{
    font-size: 15px;
}

.face{
    font-size: 40px;
    color: #0866FF;
}

.main{
    padding-top: 60px;
    width: 350px;
    height: 100%;
}

.side-bar{
    width: 350px;
    height: 100%;
    border-right: 1px solid lightgrey;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;

    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}


.side-menu{
    width: 310px;
    display: flex;
    align-items: center;
    padding: 10px ;
    border-radius: 30px;
}

.side-menu:hover{
    background-color: #F0F2F5;
}

.side-menu:active{
    background-color: #c9ccd1;
}


.menu-text{
    width: 100%;
    padding-left: 15px;
    display: flex;
    justify-content: space-between;
}

.side-menu-low{
    width: 280px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 20px;
    border-radius: 30px;
}

.side-menu-low-low{
    width: 270px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
    margin-left: 30px;
}


.message-center{
    display: flex;
    flex-direction: column;
}

.side-menu-low-low:hover{
    background-color: #F0F2F5;
}

.side-menu-low-low:active{
    background-color: #c9ccd1;
}

.select{
    background-color: #EAF3FF;
    border-radius: 30px;
    color: #0866FF;
}

.side-menu-low:hover{
    background-color: #F0F2F5;
}

.side-menu-low:active{
    background-color: #c9ccd1;
}

.drop-select{
    transform: rotate(180deg);
}

input:focus {outline: none;} /* outline 테두리 없애기 */

#help{
    width: 100%;
    height: 100%;
    background-color: aqua;
    padding-top: 60px;
}



.help{
    width: 100%;
    height: 100%;
    background-color: white;
    overflow-y: scroll;
    
}

.help-text{
    padding-top: 20px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 100px;

}


.color-blue{
    color: #1876F2;
}

.link{
    cursor: pointer;
}

.link:hover{
    text-decoration: underline;
}

.title{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}


.copy{
    border: none;
    width: 125px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}



.copy:active{
    transform: scale(0.95);
    background-color: #c9ccd1;
}

.advice-selct{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: end;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 20px;
}

.advice-selct-box{
    width: 140px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 1px;
    margin-right: 1px;
    cursor: pointer;
}

.advice-selct-line{
    width: 100%;
    height: 2px;
}

.back-blue{

    background-color: #1876F2;
}

.text{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-gray{
    color: grey;
}

.advice-selct-box:hover{
    background-color: #F0F2F5;
    border-radius: 5px;
}

.top-text{
    width: 100%;
    height: 60px;
    background-color: #F0F2F5;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}

.text2{
    width: 100%;
}

.margin20{
    margin-bottom: 20px;
}


.margin40{
    margin-bottom: 40px;
}

ul{
    margin-left: 30px;
}

li{
    margin: 15px;
}

.line{
    margin-top: 60px;
    margin-bottom: 40px;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.foot{
    width: 100%;
    height: 300px;
    background-color: #F0F2F5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foot-text{
    width: 250px;
    height: 40px;
}

.foot-text-box{
    width: 750px;
    height: 50%;
    padding: 50px 0px 50px 0px;
    display: flex;
    flex-wrap: wrap;
}

.foot-bottom{
    width: 780px;
    display: flex;
    justify-content: space-between;
}

.img{
    width: 100px;
    height: 20px;
    background-image: url(../image/Meta.png);
    background-size : 100%;
}

.language-btn:active{
    transform: scale(0.96);
    background-color: #c9ccd1;
}

.language-modal{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgba(198, 198, 198, 0.794);
    display: flex;
    justify-content: center;
    align-items: center;
}

.language-modal-box{
    box-shadow: 5px 5px 20px gray;
    width: 550px;
    height: 230px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.choice{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding-left: 200px;
}

.close{
    width: 70px;
    display: flex;
    color: gray;
    justify-content: center;
}

.close:active{
    transform: scale(0.9);
}

.language-seach{
    width: 500px;
    padding: 20px;
    font-size: 16px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.language-seach:hover{
    border: 1px solid gray;
}

.language-seach:focus {outline-style: solid; outline-color: #1876F2; outline-offset: 2px; outline-width: 2px;}

.btn{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 0px 16px 0px 16px;
}

.cancel{
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
    background-color: #E4E6EB;
}

.change-save{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #E4E6EB;
    cursor: not-allowed;
}


.appraisal{
    width: 300px;
    height: 100px;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px gray;
    left: 70%;
    top: 87%;
    padding: 15px;
}

.appraisal-no{
    width: 350px;
    height: 250px;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px gray;
    left: 66.3%;
    top: 70%;
    padding: 15px;
}

.no-top{
    display: flex;
    justify-content: space-between;
}

.why-choice{
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.why-choice:hover > .circle{
    background-color: #c9ccd1;
}


.appraisal-top{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.appraisal-middle{
    display: flex;

}

.yes-box{
    width: 50%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E4E6EB;
    border-radius: 10px;
    margin-right: 5px;
    user-select:none
}

.no-box{
    width: 50%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E4E6EB;
    border-radius: 10px;
    user-select:none;
}

.appraisal-comment{
    width: 900px;
    height: 300px;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px gray;
    left: 23.5%;
    top: 64.5%;
    padding: 15px;
}

.comment{
    width: 100%;
    height: 150px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid lightgray;
    margin-top: 10px;
}

.comment:hover{
    border: 1px solid gray;
}

.comment:focus {outline-style: solid; outline-color: #1876F2; outline-offset: 2px; outline-width: 2px;}

.submit{
    margin-top: 15px;
    width: 100%;
    height: 40px;
    border: none;
    background-color: #E7F3FF;
    border-radius: 10px;
    cursor: pointer;
}

.submit:active{
    transform: scale(0.99);
    background-color: #cbe0f4;
}

.click:active{
    transform: scale(0.95);
}

.click:hover{
    background-color: #c9ccd1;
}

.appraisal-close{
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appraisal-close:active{
    background-color: #E4E6EB;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.appraisal-comment-close{
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appraisal-comment-close:active{
    background-color: #E4E6EB;
}




.none{
    display: none;
}



/* 미디어쿼리 */

@media only screen and (max-width: 1200px){
    .side-bar{
        width: 300px;
    }

    .side-menu{
        width: 270px;
    }

    .side-menu-low{
        width: 250px;
    }

    .side-menu-low-low{
        width: 230px;
    }

    .appraisal-comment{
        width: 700px;
        left: 3%;
        top: 64.5%;
    }

}

@media only screen and (max-width: 1105px){
    .main{
        display: none;
    }

    .appraisal{
        left: 60%;
        top: 87%;
    }

    .appraisal-no{
        left: 53%;
        top: 87%;
    }
    


}

@media only screen and (max-width: 800px){

    .top-text{
        height: 80px;
    }
    

    .foot-text-box{
        width: 100%;
    }

    .foot-bottom{
        width: 100%;
    }

    .appraisal{
        display: none;
    }

    
    .appraisal-no{
        display: none;
    }

    .search{
        display: none;
    }

    .appraisal-comment{
        display: none;
    }
}
