*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.side-bar{
    width: 72px;
    height: 100%;
    border-right: 1px solid lightgray;
    padding: 8px 12px 20px 12px;
}   

.message-select{
    width: 397px;
    height: 100%;
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;
}

.head{
    display: flex;
    height: 75px;
    justify-content: space-between;
    padding: 36px 24px 12px 24px;
}

.head2{
    padding: 14px 24px 10px 24px;
    display: flex;
    height: 44px;
}

#id{
    display: flex;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
}

#message{
    width: 300px;
    font-weight: bold;
    vertical-align: middle;
    font-size: 16px;
}

#request{
    width: 50px;
    text-align: end;
    vertical-align: middle;
    color: gray;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.drop{
    margin-left: 8px;
}

.message-list{
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}


#message-icon1{
    width: 40px;
    padding-left: 12px;
    cursor: pointer;
}

.menu{
    height: 76%;
}

.icon{
    border-radius: 10px;
    width: 48px;
    height: 48px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
    transition-duration: 0.2s;
}

/* 마우스오버시 사이드바 메뉴 아이콘 색상 및 사이즈 변경 */
.icon:hover{
    background-color: rgb(238, 238, 238);
    font-size: 25px;
}


.instar{
    font-size: 30px;
}

.instar:hover{
    font-size: 31px;
}



.bottom{
    height: 14%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.header{
    height: 70px;
    margin-top:  12px;
    padding-bottom: 23px;
}


.more{
    height: 56px;
}

a{
    text-decoration: none;
    color: black;
}

.dm{
    width: 100%;
    height: 72px;
    padding: 8px 2px 8px 24px;
    display: flex;
    cursor: pointer;
}

.user-profile{
    width: 20%;
    height: 100%;
}


.user-message{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#message-box{
    width: 100%;
    height: 100%;
    display: flex;
}

.message-view{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.message-view1{
    display: none;
    width: 100%;
    height: 100%;
}

/* message-view1 내부요소 CSS */

#user1-chat{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.chat-head{
    width: 100%;
    height: 75px;
    border-bottom: 1px solid lightgray;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
}

.user-name-chat{
    width: 70%;
    padding: 14px;
    font-weight: bolder;
    cursor: pointer;
}

.chat-icon{
    width: 30%;
    display: flex;
    justify-content: end;
}

#chating{
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

#chat-foot{
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    padding: 10px;
}

#chating-input{
    width: 100%;
    height: 40px;
    border: 2px solid lightgray;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.chating-icon{
    width: 40px;
    height: 30px;
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

.input{
    width: 70%;
    height: 30px;
    border: none;
}

#chat-att{
    width: 30%;
    display: flex;
    justify-content: end;
    padding-right: 5px;
}

#file{
    display: none;
}

.blank2{
    width: 100%;
    height: 20px;
}


.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-img-chating{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.user-img-box{
    width: 100%;
    padding: 16px 0px 16px 0px;
    display: flex;
    justify-content: center;
}

.user-name-chating{
    padding-top: 10px;
    font-weight: bold;
    font-size: 25px;
    display: flex;
}
.user-id-chating{
    font-size: 16px;
    color: gray;
}

.profile-button-box{
    width: 100%;
    height: 80px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.profile-button{
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 14px;
    cursor: pointer;
}

.acc{
    padding-top: 10px;
    padding-left: 5px;
    font-size: 15px;
    color: #1b74e4;
}


.message-view2{
    display: none;
    width: 100%;
    height: 100%;
}

.user-img{
    width: 56px;
    height: 56px;
    background-color: black;
    border-radius: 50px;
}

.user-img-chat{
    width: 44px;
    height: 44px;
    background-color: black;
    border-radius: 50px;
    cursor: pointer;
}

.chat{
    display: flex;
    flex-direction: column;
}

.user-chat-box{
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    align-content: center;
}

.user-chat{
    background-color: lightgrey;
    border-radius: 30px;
    padding: 7px 10px 7px 10px;
    margin-left: 10px;
}

.me-chat-box{
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: end;
    align-items: center;
    align-content: center;
}

.me-chat{
    background-color:#0095F6;
    border-radius: 30px;
    padding: 7px 10px 7px 10px;
    margin-right: 10px;
    color: white;
}

.user1{
    background-image: url(../image/마동석.png);
    background-size : 100%
}

.user2{
    background-image: url(../image/꾸버.jpg);
    background-size : 100%
}

.user-name{
    font-size: 15px;
    font-weight: bold;
}

.blank{
    height: 5px;
}

.user-text{
    font-size: 12px;
    font-weight: bold;
}

.tail{
    width: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.light{
    width: 8px;
    height: 8px;
    border: 1px solid rgb(55,151,240);
    background-color: rgb(55,151,240);
    border-radius: 50px;
}

#message-icon2{
    width: 96px;
    height: 96px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.text1{
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 20px 16px 0px;
}


.text2{
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: gray;
    padding: 10px 16px 0px;
}

#transmit{
    padding: 15px 16px 0px;
}

/* message-view2 내부요소 CSS */

#user2-chat{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.user-chat-img-box{
    width: 100%;
}

.qoover-img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-left: 10px;
}

/* 마우스오버시 메시지 보내기 버튼 색상 변경 */
.transmit-button:hover{
    background-color: #1b74e4;
}
/* 클릭시 버튼 투명도 변경 */
.transmit-button:active{
    opacity: 0.5;
}


.transmit-button{
    width: 120px;
    height: 32px;
    font-size: 14px;
    cursor: pointer;
}

.button{
    color: white;
    font-weight: bolder;
    border-radius: 7px;
    border: 0px;
    background-color: #0095f6;
}


/* 마우스오버시 메시지 리스트 색상 변경 */
.dm:hover{
    background-color: rgb(238, 238, 238);
}

.select-color{
    background-color: rgb(231, 231, 231);
}


/* 팝업 CSS */

#pop-up{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: none;

}

.box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#pop-up-body {
    width: 600px;
    height: 65%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#close{
    cursor: pointer;
    text-align: center;
    vertical-align: auto;
    width: 10%;
    height: 100%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

#pop-up-head {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;

}

#pop-up-midle{
    width: 100%;
    height: 69.5%;
}

#pop-up-foot{
    width: 100%;
    height: 13%;
}

#blank-space{
    width: 10%;
}

.h1-1{
    width: 80%;
    text-align: center;
}

#recipient{
    height: 7.5%;
    padding: 0px 16px 0px 16px;
    display: flex;
    border: 1px solid lightgrey;
    border-width: 1px 0px;
}

.recipient{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bolder;
}

.search{
    padding: 4px 12px 4px 20px;
    width: 80%;
    border: none;
    font-size: 15px;
}

#pop-up-midle{
    height: 70%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.not-find{
    height: 35px;
    margin-top: 12px;
}

.not-find-text{
    padding: 12px 24px;
    color: grey;
    font-size: 14px;
}

#chat{
    margin: 16px;
}

#chat > input{
    width: 100%;
    height: 44px;
}

/* 버튼 기본 스타일 삭제 */
input:focus,
input:active,
button:focus,
button:active {
    outline: none;
    box-shadow: none;
}

.chat-button{
    color: white;
    font-weight: bolder;
    border-radius: 7px;
    border: 0px;
    background-color: #0095f6;
    opacity: 0.5;
}

.message{
    width: 100%;
    display: flex;
}


.read{
    font-weight: 100;
}



/* 페이지 가로 축소 시 화면 변환 */
@media only screen and (max-width: 850px){

    .message-select{
        width: 120px;
    }

    #id,
    .head2,
    .user-message,
    .tail{
        display: none;
    }


    #message-icon1{
        width: 150px;
        text-align:center;
    }


}



@media only screen and (max-width: 740px){

    .message{
        height: 95%;
        display: flex;
    }

    .container2{
        flex-direction: column-reverse;
    }


    .side-bar{
        width: 100%;
        height: 50px;
        border-top: 1px solid lightgray;
        padding: 0px;
        overflow-x: hidden;
        overflow-y: hidden;
        z-index: 2;
    }


    .menu{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
    }

    .noti,
    .serch,
    .header{
        display: none;
    }

    .bottom{
        display: none;
    }

    #pop-up-body{
        border-radius: 0;
        width: 100%;
    }

    .icon{
        margin: 0;
    }

}




/* 페이지 세로 축소 시 화면 변환 */
@media only screen and (max-height: 700px){

    .threads{
        display: none;
    }

}

@media only screen and (max-height: 600px){

    .icon{
        margin-top: 2px;
        margin-bottom: 2px;
    }

}

