.insta_logo {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid lightgray;
}

.main_logo {
    width: 120px;
    margin-left: 10%;
}

.container {
    width: 350px;
    height: 550px;
    border: 1px solid lightgray;
    margin: 0 auto;
    margin-top: 50px;
}

.lock_logo {
    width: 100px;
    margin-left: 120px;
    margin-top: 20px;
}

.talk {
    text-align: center;
}
h3 {
    font-size: medium;
}

p {
    font-size: small;
    margin-left: 30px;
    margin-right: 30px;
    color: gray;
}

.text_id {
    margin-left: 13.5%;
}

input {
    width: 250px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 7px;
    font-weight: bolder;
    outline-color: gray;
}

.log_link_btn {
    width: 255px;
    height: 30px;
    background-color: #B2DFFC;
    font-size: 14px;
    border: 1px solid #B2DFFC;
    color: white;
    margin-left: 13.5%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.log_link_btn:disabled {
    background-color: #B2DFFC;
}

.not_password {
    margin-left: 80px;
    color: #5270B8;
    font-size: small;
}

.all_line {
    margin-top: 20px;
    margin-bottom: 20px;
}

.line1 {
    width: 110px;
    height: 1px;
    background-color: lightgray;
    top: 0.55em;
    margin-left: 30px;
    position: relative;
}

.line2 {
    width: 110px;
    height: 1px;
    background-color: lightgray;
    top: -0.55em;
    margin-left: 210px;
    position: relative;
}

.line_txt {
    font-size: small;
    font-weight: 600;
    color: gray;
    margin-left: 160px;
    position: relative;
}

.newsign_text {
    margin-left: 115px;
    font-weight: 800;
    color: black;
}

.confoot_box {
    width: 350px;
    height: 40px;
    border: 1px solid lightgrey;
    margin-top: 75px;
    margin-left: -1px;
    background-color: aliceblue;
}

a > p {
    margin-left: 110px;
    color: black;
}

.inst_footer {
    font-size: 13px;
    margin-left: 150px;
    margin-top: 70px;
    
}

a {
    color: gray;   
}

.foot_btn {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.language_btn{
    background-color: white;
    border: 1px solid white;
    color: gray;
    font-size: 12px;
    width: 60px;
    outline-color: white;
}

p4 {
    font-size: 12px;
    color: gray;
}