.iconbox {
    position: fixed;
    box-sizing: border-box;
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
}
.menu-box1{
    display:flex;
    flex-direction:column;
    height:75%;
}

.home-icon,
.search-icon,
.compass-icon,
.video-icon,
.message-icon,
.heart-icon,
.making-icon,
.instagram-profile,
.threads-icon,
.setting-icon {
    margin-left: 10.1%;
    margin-top: 5%;
    height: 40px;
    width: 200px;
    border: 1px solid white;
    border-radius: 10%;
    font-size: 22px;
    display: flex;
    align-items: center;
}
.font-size-box {
    margin-left: 12.5%;
    font-size: 15px;
}

h1 {
    margin-left: 10%;
    font-size: 15px;
}

.instagram-fontbox {
    display: flex;
    margin: 0 auto;
    margin: 30px;
    margin-left: 15px;
    cursor:pointer;
}

a {
    color: black;
    text-decoration: none;
}

.ico {
    border-radius: 10px;
    width: 90%;
    height: 48px;
    font-size: 25px;
    display: flex;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 4px;
    margin-left:15px;
    cursor: pointer;
    transition-duration: 0.1s;
}
.ico:hover{
    background-color: rgb(238, 238, 238);
    left: 5px;
}

.ico:hover > .ico2{
    transform:scale(1.02);
}

.ico2{
    transition-duration: 0.1s;
}
.insta-logo {
    display: none;
}




        @media only screen and (max-width: 1029px){
            .iconbox{
                width: 8%;
                display: flex;
                align-items: center;
                padding: 10px;
                position: fixed;
                justify-content: space-around;  
                display: flex;
                flex-direction: column;
            }
            

            .instagram-fontbox, h1, .font-size-box{
                display: none;
            }

            .insta-logo{
                display: block;
            }
            
         
            

            .ico.insta-logo{
                margin-right: 25px;
                margin-bottom: 30px;
            }
            
            
            .menu-box1{
                margin-right: 25px;
            }

            .menu-box2{
                margin-right: 25px;
                margin-bottom: 20px;
            }

            .main-box{
                margin-left: 23%;
            }

            .ico:hover{
                background-color: rgb(238, 238, 238);
                left: 5px;
                width: 48px;
                height: 48px;
            }
            
        

        }