.iconbox{
    position:fixed;
    box-sizing: border-box;
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;   
    width: 20%;
    height:100%;
    background-color: white;
}
.home-icon{
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 22px;
    display: flex;
    align-items:center;
    
}
.search-icon{
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 22px;
    display: flex;
    align-items:center
}
.font-size-box{
    margin-left: 20px;   
    font-size: 16px;
}


.compass-icon{
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 26px;
    display: flex;
    align-items:center
}
.video-icon{
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 26px;
    display: flex;
    align-items:center
}

.message-icon{
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 26px;
    display: flex;
    align-items:center
}

.heart-icon{
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 26px;
    display: flex;
    align-items:center
}

.making-icon{
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 26px;
    display: flex;
    align-items:center
}

.instagram-profile{
    margin-left: 20px;
    font-size: 26px;
    display: flex;
    align-items:center
}

.threads-icon{
    margin-left: 20px;
    font-size: 32px;
    display: flex;
    align-items:center
}

.setting-icon{
    margin: 20px;
    font-size: 32px;
    display: flex;
    align-items:center
}

.instagram-fontbox{
    display: flex;
    margin: 0 auto;
    margin: 20px;
    margin-left: 15px;
}

.menu-box1{
    height: 650px;
    margin-top: 20px;
}

.font-size-box{
    cursor: pointer;
}

.profile-font-size-box{
    font-weight: bolder
}
