.content-boxs{
    display: flex;
    width: 900px;
    flex-wrap: wrap;
    justify-content: center;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 100,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.mulpic {
    transform:scaleX(-1);
    color:white;
    left:85%;
    top:7%;
    font-size: 25px;
}

.contentboxstyle{
    margin: 5px;
    font-size: 20px;
}

.content1{
    margin: 2px;
    background-size: 100%;
    width: 290px;
    height: 290px;
    background-image: url(../profile-page/img/KakaoTalk_20231101_140016761\ \(1\).jpg);
    cursor: pointer;
    display: flex;
    justify-content: right;
    color: white;
}

.content2{
    margin: 2px;
    background-size: 100%;
    width: 290px;
    height: 290px;
    background-image: url(../profile-page/img/KakaoTalk_20231103_105527099\ \(1\).jpg);
    cursor: pointer;
    display: flex;
    justify-content: right;
    color: white;
}

.content3{
    margin: 2px;
    background-size: 100%;
    width: 290px;
    height: 290px;
    background-image: url(../profile-page/img/KakaoTalk_20231103_105545273\ \(1\).jpg);
    cursor: pointer;
    display: flex;
    justify-content: right;
    color: white;
}

.content4{
    margin: 2px;
    background-size: 100%;
    width: 290px;
    height: 290px;
    background-image: url(../profile-page/img/img3.jpg);
    cursor: pointer;
    display: flex;
    justify-content: right;
    color: white;
}

.content5{
    margin: 2px;
    background-size: 100%;
    width: 290px;
    height: 290px;
    background-image: url(../profile-page/img/img3.jpg);
    cursor: pointer;
    display: flex;
    justify-content: right;
    color: white;
}

.content6{
    margin: 2px;
    background-size: 100%;
    width: 290px;
    height: 290px;
    background-image: url(../profile-page/img/img3.jpg);
    cursor: pointer;
    display: flex;
    justify-content: right;
    color: white;
}

.content7{
    margin: 2px;
    background-size: 100%;
    width: 290px;
    height: 290px;
    background-image: url(../profile-page/img/img3.jpg);
    cursor: pointer;
    display: flex;
    justify-content: right;
    color: white;
}

.content8{
    margin: 2px;
    background-size: 100%;
    width: 290px;
    height: 290px;
    background-image: url(../profile-page/img/img3.jpg);
    cursor: pointer;
    display: flex;
    justify-content: right;
    color: white;
}

.content9{
    margin: 2px;
    background-size: 100%;
    width: 290px;
    height: 290px;
    background-image: url(../profile-page/img/img3.jpg);
    cursor: pointer;
    display: flex;
    justify-content: right;
    color: white;
}

.contentBox1Click{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: none;
}

.contentBox2Click{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: none;
}

.contentBox3Click{
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: none;
}


.closeBtnbox{
    display: flex;
    justify-content: flex-end;
}

.closeBtn {
    margin-left: 0;
    padding:8px;
    font-weight: bold;
    color: white;
    font-size:25px;
    cursor: pointer;
}

.contentbox1Body{
    border: 1px solid #777;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    display: none;
}

.contentbox2Body{
    border: 1px solid #777;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    display: none;
}

.contentbox3Body{
    border: 1px solid #777;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    display: none;
}

.content1boxsmall, .content2boxsmall, .content3boxsmall{
    width: 1200px;
    height: 800px;
    display: flex;
    border-radius: 5px;
    background-color: white;
    margin: 0 auto;
}

.picture1{
    width: 60%;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px;
    background-image: url(../profile-page/img/KakaoTalk_20231101_140016761\ \(1\).jpg);
    background-size: 100%;
}

.picture2{
    width: 60%;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px;
    background-image: url(../profile-page/img/KakaoTalk_20231103_105527099\ \(1\).jpg);
    background-size: 100%;
}

.picture3{
    width: 60%;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px;
    background-image: url(../profile-page/img/KakaoTalk_20231103_105545273\ \(1\).jpg);
    background-size: 100%;
}


.board{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.head{
    display: flex;
    text-align: left;
}

.line{
    border-bottom: 1px solid rgb(243, 240, 240);
    width: 100%;
    margin-top: 10px;
}
.profile-id-small{
    display: flex;
    margin-left: 30px;
    margin-top: 20px;
}

.input-profile-picture{
    background-size: 100%;
    background-image: url(../profile-page/img/KakaoTalk_20231101_160106321.png);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid lightslategray;
    box-sizing: border-box;
}

.input-profile-picture-middle{
    background-size: 100%;
    background-image: url(../profile-page/img/KakaoTalk_20231101_160106321.png);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid lightslategray;
    box-sizing: border-box;
    margin-top: 20px;
    margin-right: 10px;
}

.input-profile-picture-last{
    background-size: 100%;
    background-image: url(../profile-page/img/KakaoTalk_20231101_160106321.png);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid lightslategray;
    box-sizing: border-box;
    margin-left: 20px;
}

.setting{
    display: flex;
    font-size: 25px;
    padding: 12px;
    margin-left: 100px;
}

.middle{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 10px;
    overflow-y:scroll;
    -ms-overflow-style: none;
    border-bottom:1px solid #e9e9e9;
    height: 500px;
    overflow-x: hidden;
}



.user-top{
    display: flex;
    
}

.user-text{
    display: flex;
    flex-direction: column;
}

.middle-input{
    display: flex;
    text-align: left;
    margin-top: 15px;
}

.id-small{
    margin-left: 10px;
    font-size: 20px;
    margin-top: 5px;
}


.input-text{
    font-weight: 100;
    font-size: 18px;
    margin-left: 10px;
}

.user-date{
    text-align: left;
    margin-top: 5px;
}
.date-text{
    font-weight: 100;
    font-size: 15px;
    margin-left: 10px;
    text-wrap:wrap;
    color: #777;
    
}

.user-reple{
    display: flex;
    margin-top: 10px;
}

.like-num{
    color: #777;
}

.reple-content{
    color: #777;
}

.user1{
    display: flex;
    width: 90%;
}

.user1-heart{
    display: flex;
    flex-direction: column;
    width: 10%;
    margin-top: 25px;
    cursor: pointer;
}

.last{
    display: flex;
    flex-direction: column;
}

.icon-box{
    display: flex;
    justify-content: space-between
}

.three-icon{
    display: flex;
    margin: 10px;
}


.heart{
    font-size: 30px;
    font-weight: 100;
    padding: 10px;
}

.small-content{
    font-size: 30px;
    font-weight: 100;
    padding: 10px;
}

.small-share{
    font-size: 30px;
    font-weight: 100;
    padding: 10px;
}

.small-bookmark{
    font-size: 30px;
    font-weight: 100;
    padding: 10px;
}

.who-like{
    display: flex;
}

.like-user{
    display: flex;
}

.like-user-text{
    display: flex;
    flex-direction: column;
    
}

.like-user-text-input{
    margin: 0 auto;
    color: black;
}

.manypeople{
    font-weight: bolder;
    cursor: pointer;
}

.last-content{
    display: flex;
}

.smile-face{
    font-size: 30px;
    margin-left: 10px;
}

.input-content{
    margin-left: 10px;
    width: 300px;
    border: none;
    font-size: 16px;
}

.upload{
    margin: 0 auto;
    padding: 8px;
}

.uploadbtn{
    margin-left: 20px;
    margin-top: 10px;
    color: blue;
    cursor: pointer;
}

.bottom{
    display: flex;
    flex-direction: column;
    
}

.bottom1{
    display: flex;
    margin: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
}

.bottom2{
    display: flex;
    justify-content: center;
}

.bottompont{
    font-size: 13px;
    color: rgb(88, 87, 87);
    margin: 5px;
}
