* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    display:flex;
    flex-direction:row;
}
.aside{ /* 크기 보기 위해 임시로 설정 */
    width:250px;
    height:100%;
    background-color:lightgray;
}
.main{
    margin:0 auto;
    margin-left:25%;
    margin-right:90px;
    display:flex;
    flex-direction:column;
    width: 73%;
    height:auto;
    position:relative;
}
.img1{
    background-image: url('./img/마카롱.jpg');
    background-repeat : no-repeat;
    background-size : cover;
    background-position: center;
}

.img2{
    background-image: url('./img/머핀.jpg');
    background-repeat : no-repeat;
    background-size : cover;
    background-position: center;
}

.img3{
    background-image: url('./img/슈크림.jpg');
    background-repeat : no-repeat;
    background-size : cover;
    background-position: center;
}

.img4{
    background-image: url('./img/푸딩.jpg');
    background-repeat : no-repeat;
    background-size : cover;
    background-position: center;
}

.img5{
    background-image: url('./img/쿠키.jpg');
    background-repeat : no-repeat;
    background-size : cover;
    background-position: center;
}

.img6{
    background-image: url('./img/와플.jpg');
    background-repeat : no-repeat;
    background-size : cover;
    background-position: center;
}
.box{
    display:flex;
    position: relative;
    width: 100%;
}

.fa-search{
    display:flex;
    width: 100%;
    height: 40px;
    background-color:#e9e9e9;
    border:none;
    border-radius: 20px;
    padding-left:20px;
    font-size:17px;
    color:#888888;
    font-family:FontAwesome;
    outline:none;
}
form{
    display:flex;
    width:100%;
}
.search{
    margin-top:20px;
    display:flex;
    flex-wrap: wrap;
    width:100%;
    height:50px;
    /* display: none; */
}
.content{
    margin-top:30px;
    display:flex;
    flex-wrap: wrap;
    width:100%;
    height:auto;
}
.item3{
    display:flex;
    width:100%;
}

.image {
    margin:2px;
    position: relative;
    width: 100%;
}

.image:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.item5{
    display:flex;
    flex-direction:row;
    width:100%;
}
.item5-2{
    display:flex;
    flex-direction:row;
    width:100%;
}
.item2{
    display:flex;
    flex-direction:column;
    width:100%;
}
.item2-2{
    display:flex;
    flex-direction:column;
    width:100%;
}
.item1{
    display:flex;
    width:100%;
}
.images {
    position: relative;
    width: 100%;
    margin:2px;
}
.images:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 100,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
.mulpic {
    transform:scaleX(-1);
    color:white;
    position: absolute;
    left:85%;
    top:7%;
    pointer-events : none;
    display: disabled;
    font-size: 25px;
    user-select: none;
    text-shadow: 0 0 2px black;
}
.vidi{
    color:white;
    position: absolute;
    left:85%;
    top:7%;
    pointer-events : none;
    display: disabled;
    font-size: 25px;
    user-select: none;
    text-shadow: 0 0 2px black;
}
.vidi2{
    color:white;
    position: absolute;
    left:85%;
    top:3.3%;
    pointer-events : none;
    display: disabled;
    font-size: 25px;
    user-select: none;
    text-shadow: 0 0 2px black;
}
.text{
    position: absolute;
    font-size: 20px;
    left:50%;
    top:45%;
    transform:translateX(-50%);
    text-align: center;
    color:white;
    z-index:1;
    user-select: none;
    cursor: pointer;
    display:none;
    
}
.text2{
    position: absolute;
    font-size: 20px;
    left:50%;
    top:45%;
    transform:translateX(-50%);
    text-align: center;
    color:white;
    z-index:1;
    user-select: none;
    cursor: pointer;
    display:none;
}
.image:hover, .images:hover{
    filter:brightness(0.7);
    cursor: pointer;
}
.box:hover > .text {
    display: block;
}
.box:hover > .text2 {
    display: block;
}
.text:hover + .image{
    filter:brightness(0.7);
}
.text2:hover + .images{
    filter:brightness(0.7);
}

.main-footer{
    display:flex;
    flex-direction: column;
}
.footer1{
    display:flex;
    flex-direction:column;
    margin-left:300px;
    margin-right:45px;

}
.inst_footer {
    font-size: 13px;
    margin-left: 15px;
    margin-top: 70px;
    
}

a {
    color: gray;
    font-size: 12px;
}

.foot_btn {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom:50px;
}

.language_btn{
    background-color: white;
    border: 1px solid white;
    color: gray;
    font-size: 12px;
    width: 60px;
    outline-color: white;
}

p4 {
    font-size: 12px;
    color: gray;
}

.loading-img{
    display:flex;
    justify-content: center;
}

.load-spin{
    margin-top: 50px;
    font-size:35px;
    color:#696969;
    user-select:none;
    position:relative;
    animation-name:spin;
    animation-duration:2s;
    animation-iteration-count: infinite;
}

@keyframes spin{
    100% {
        transform: rotate(360deg);
    }
}